.disable {
    display:none
}
.HpBar, .MpBar {
    width: 20%;
    height: 20px;
    border: 2px #ccc solid;
    margin:auto;
  }
  
  .balanceSection {
    display: inline-block;
    height: 20px;
    font-size: 10pt;
    vertical-align: top;
    text-align: center;
  }
  
  .balanceSection p {
    margin: 0;
    padding: 3px;
  }
  
  .damage {
    background-color: red;
    transition: width 1s ease-in-out;
  }
    
  .currentHealth {
    background-color: lightgreen;
    transition: width 1s ease-in-out;
  }

  .currentMp {
    background-color: lightblue;
    transition: width 1s ease-in-out;
  }
