.tower-container {
  display: grid;
  grid-template-columns: 50% 50%;
  color: #ffffff;
}

.chat-box {
  width: 80%;
}

.form-control {
  width: 60%;
  margin: 0 10px;
  height: 30px;
  padding: 10px;
}

.message-area,
.battleLog-area {
  overflow-y: scroll;
  height: 200px;
  margin: 20px 0;
}

.disable {
    display:none
}
.HpBar, .MpBar {
    width: 45%;
    height: 10px;
    margin:auto;
  }
  
  .balanceSection {
    display: inline-block;
    height: 10px;
    font-size: 10pt;
    vertical-align: top;
    text-align: center;
  }
  
  .balanceSection p {
    margin: 0;
    padding: 3px;
  }
  
  .damage {
    background-color: #ed1c24;
    transition: width 1s ease-in-out;
  }
    
  .currentHealth {
    background-color: #39b54a;
    transition: width 1s ease-in-out;
  }

  .currentMp {
    background-color: #27aae1;
    transition: width 1s ease-in-out;
  }

  button {
    color: #ffffff;
    background-color: #7f3f98;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin: 5px;
    font-weight: 700;
  }