.tower-container {
  display: grid;
  grid-template-rows: 75% 25%;
}

.playerInfo {
  display: grid;
  grid-template-columns: 50% 50%;
  height: 100px;
}

.chat-box {
  width: 80%;
  margin: 20px auto;
}

.form-control {
  width: 90%;
  margin: 0 10px;
  height: 25px;
}

.message-display {
  margin: left;
}

.disable {
    display:none
}
.HpBar, .MpBar {
    width: 30%;
    height: 10px;
    margin:auto;
  }
  
  .balanceSection {
    display: inline-block;
    height: 10px;
    font-size: 10pt;
    vertical-align: top;
    text-align: center;
  }
  
  .balanceSection p {
    margin: 0;
    padding: 3px;
  }
  
  .damage {
    background-color: #ed1c24;
    transition: width 1s ease-in-out;
  }
    
  .currentHealth {
    background-color: #39b54a;
    transition: width 1s ease-in-out;
  }

  .currentMp {
    background-color: #27aae1;
    transition: width 1s ease-in-out;
  }
