# See https://help.github.com/ignore-files/ for more about ignoring files.

# dependencies
/node_modules

# testing
/coverage


# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local


# "scripts": {
#     "start": "react-scripts start",
#     "build": "react-scripts build",
#     "test": "react-scripts test --env=jsdom",
#     "eject": "react-scripts eject",
#     "api": "nodemon ./server/server.js",
#     "dev": "concurrently \"react-scripts start\" \"nodemon server/server.js\""
#   },