/* Need to create responsive images */

.card{
    margin:.5em;
    max-width:200px;
    max-height:200px;
    border-style: solid;
    border-color:grey;
}

.card:hover{
    cursor: pointer;
}
.cardImage {
    max-width:200px;
    max-height:200px;
    padding:1em;
}
.collection {
    margin-right: auto;
    margin-left:auto;
    margin-bottom:10em;
    width:75%;
}
nav {
    background:blue;
    color:white;
    font-size: 1.5em;
    text-align: center;
}
.navbar {
    padding:1.5em;
}
.heading {
    font-weight:bolder;
}
.jumbotron {
    text-align: center;
    background:url("../background.png");
    background-clip: content-box;
    background-position: center; 
    height:500px;
    color:white;
    font-size:30px;
    font-weight:bold;
}