.wildlyfe-logo {
    width: 90px;
}

/* .login-btn {
    margin: 10px;
    text-decoration: none;
} */

.btn-login {
    margin: 10px;
}

#username-input,
#password-input {
    color: #FFFFFF;
    width: 230px;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
select:-webkit-autofill:focus {
    -webkit-text-fill-color: #FFFFFF;
    transition: background-color 5000s ease-in-out 0s;
  }
input:-webkit-autofill:active {
    transition: background-color 5000s ease-in-out 0s;
}
