.row {
  display: grid;
  grid-template-columns: 75% 25%;
  grid-column-gap: 15px;
}

.cards-cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 15px;
    grid-row-gap: 20px;
    
}

.stat-box {
  display: grid;
  /* grid-template-columns: repeat(2, 2fr); */
  justify-content: end;
}

.stat-content {
  text-align: left;
  padding: 0 30px;
}