.petForm {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    justify-content: center;
    color: #FFFFFF;
}

.MuiFormControl-root-4.PetChoice-formControl-2 {
    margin: 15px 0;
}

.MuiSelect-root-56,
#petname-input {
    text-align: left;
    color: #FFFFFF;
}
.container {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-column-gap: 30px;
    margin: 0 100px;
}

.story-content {
    padding: 100px 20px;
    text-align: left;
}