.story-content {
    font-size: 14px;
    line-height: 20px;
    color: #FFFFFF;
}

.storyBtn {
    margin: 25px 0 0;
}

.btn,
.btn-link {
    text-decoration: none;
    color: #FFFFFF;
}

.btn {
    padding: 5px;
    
}
